/* Enroll.module.css */

.enroll {
    padding: 20px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: white;
    padding-bottom: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    flex-wrap: wrap; /* Allows the items to wrap on smaller screens */
}

.content div {
    font-size: 16px;
    text-align: center;
    
}

.item {
    height: 120px; /* Fixed height for items */
    width: 220px;  /* Fixed width for items */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for separation */
    
}

.span {
    font-weight: bold;
    font-size: 35px; /* Larger student count text */
}

.text {
    font-size: 14px;
    color: black;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        margin-top: 100px;
        margin-left: -40px;
    }

    .item {
        width: 100%; 
        height: auto; 
    }

    .span {
        font-size: 20px;
    }

    .text {
        font-size: 12px;
    }
}

