/*VisionMission.module.css*/

/* .visionMissionValueSection {
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: 20px;
} */

/* Container styling */
.visionMissionContainer {
  max-width: 1200px;
  background-color: aqua;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Vision-Mission image styling */
.visionMissionImage img {
  width: 100%;
  max-height: 50%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  filter: blur(2px);
  -webkit-filter: blur(2px);

}

/* Section common styling */
.visionSection, 
.missionSection, 
.valueSection {
  margin-bottom: 50px;
  padding: 20px;
  background: #fdf1df;
  width: 30%;
  /* border-left: 5px solid #007bff; */
  border-radius: 100px;
  box-shadow: 10px 6px 8px rgba(0, 0, 0, 0.1);
}

/* Section headings */
.sectionTitle {
  color: #333;
  font-size: 28px;
  margin-bottom: 15px;
}

/* Section paragraph content */
.sectionContent {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Images within sections */
.sectionImage {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .visionMissionContainer {
    padding: 20px;
  }

  .visionSection, 
  .missionSection, 
  .valueSection {
    padding: 15px;
  }

  .sectionTitle {
    font-size: 24px;
  }

  .sectionContent {
    font-size: 16px;
  }
}
